<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.imgur.com/uZS6w0f.png">
    <script id="tpl" type="text/x-handlebars-template">
        {{url}}
        window.location.href = "{{longUrl}}";
        {{/url}}
    </script>
    <title>Page Redirection</title>
</head>

<body>
</body>

</html>